<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>SMS</ion-title>
  </ion-toolbar>
</ion-header>

<ion-content [fullscreen]="true">
  <ion-grid>
    <ion-row>
      <ion-col size="12" size-md="4">
        <ion-card style="height: 500px; overflow: auto;">
          <ion-card-header>
            <ion-card-title class="ion-text-center ion-text-part">Inbox</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <ion-list>
              <ion-item button *ngFor="let message of messages">
                <ion-label>
                  <h2>{{ message.from }}</h2>
                  <p><strong>To:</strong> {{ message.to }}</p>
                  <p><strong>Date:</strong> {{ message.timestamp }}</p>
                  <p><strong>Message:</strong> {{ message.body }}</p>
                </ion-label>
              </ion-item>
            </ion-list>
          </ion-card-content>
        </ion-card>
      </ion-col>
      <ion-col size="12" size-md="8">
        <ion-card style="height: 80vh;">
          <ion-card-header>
            <ion-card-title>Send SMS</ion-card-title>
          </ion-card-header>
          <ion-card-content>
            <div class="main-wrapper">
              <ion-label>
                <ion-text>New Message</ion-text>
              </ion-label>
              <ion-input [(ngModel)]="to" style="margin-bottom: 1.5rem;" type="text" label="To" label-placement="floating" fill="outline" placeholder="To"></ion-input>
              <ion-textarea [(ngModel)]="body" style="height: 50vh;" label="Message" labelPlacement="floating" fill="outline" placeholder="Message"></ion-textarea>

              <div class="button-wrapper-footer">
                <input type="file" (change)="onFileSelected($event)" #fileInput style="display: none;" />
                <ion-button shape="round" size="large" fill="solid" color="primary" (click)="fileInput.click()" style="padding-right: 3rem;">Add Attachment</ion-button>
                <ion-button shape="round" size="large" fill="solid" color="primary" (click)="sendSMS()">Send</ion-button>
              </div>
            </div>
          </ion-card-content>
        </ion-card>
      </ion-col>
    </ion-row>
  </ion-grid>
</ion-content>
