<ion-header>
  <ion-toolbar color="primary">
    <ion-buttons slot="start">
      <ion-back-button defaultHref="/home"></ion-back-button>
    </ion-buttons>
    <ion-title>Voice</ion-title>
  </ion-toolbar>
</ion-header>


<ion-content fullscreen="true">

  <div class="custom-alert hide">
   <button #buttonAlert id="button-accept" >Accept</button>
    <button >Reject</button>
    <button >Hang Up</button>
  </div>

  <div class="container">
    <ion-card class="dialer">
      <ion-card-content>

        <ion-input [(ngModel)]="phoneNumber" placeholder="Enter number" type="text" readonly></ion-input>
        <ion-grid>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('1')">1</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('2')">2</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('3')">3</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('4')">4</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('5')">5</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('6')">6</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('7')">7</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('8')">8</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('9')">9</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('*')">*</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('0')">0</ion-button>
            </ion-col>
            <ion-col size="4">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('#')">#</ion-button>
            </ion-col>
          </ion-row>
          <ion-row>
            <ion-col size="6">
              <ion-button expand="full" shape="round" color="primary" (click)="appendNumber('+')">+</ion-button>
            </ion-col>
            <ion-col size="6">
              <ion-button expand="full" shape="round" color="danger" (click)="clearLastCharacter()">C</ion-button>
            </ion-col>
          </ion-row>
        </ion-grid>
        <ion-button expand="full" color="primary" (click)="makeCall()">Call</ion-button>
      </ion-card-content>
      
    </ion-card>
  </div>
 
</ion-content>


